<div class = "results">
<div id='results_title'>
	<p><strong><%= @country.name %></strong></p>
</div>

<div class="show_images">
<% unless @country.images.empty? %>
	<div class="country_images" id="main_image">
		<img id="main_image" src="<%= @country.images.first.large_url %>">
	</div>

	<div class="country_images">
		<% @country.images.each do |image| %>
			<img class="thumbnail" src='<%= image.thumbnail_url %>'>
		<% end %>
	</div>
<% end %>
</div>



<h2>Fun Facts</h2>
<div class="fun_fact">
<%=@country.intro%>
</div>
<h2>Currency:</h2><%=@country.currency%>
</div>

