<div class = "results">
<div id='results_title'>
	
</div>


<div class="title">
	<h3><%= @country.name %></h3>
</div>

<div class="info">
	<div class="fun_fact">
		<%=@country.intro%>
	</div>
	<div class="fact_cards">
		<div class="card">
			<h2>Language:</h2>
			<p><%=@country.display_language%></p>
		</div>
		<div class="card">
			<h2>Currency:</h2>
			<p><%=@country.currency%></p>
		</div>
		<div class="card">
			<h2>Politics:</h2>
			<p>Political Stability: <%=@country.political_rating%></p>
		</div>
		<% if @country.is_malaria_hotspot %>
		<div class="card" id="malaria">
			<h2>Health:</h2>
			<p><%=@country.malaria?%></p>
		</div>
		<% end %>
		<div class="demo"></div>
	</div>
</div>

<div class="show_images">
<% unless @country.images.empty? %>
	<div class="country_images" id="main_image">
		<img id="main_image" src="<%= @country.images.first.large_url %>">
	</div>

	<div class="country_images">
		<% @country.images.each do |image| %>
			<img class="thumbnail" src='<%= image.thumbnail_url %>'>
		<% end %>
	</div>
<% end %>
</div>







