<div id='results_title'>
	<p>Welcome to <strong><%= @country.name %>'s</strong> page!</p>
</div>

<div class="show_images">
<% unless @country.images.empty? %>
	<div class="country_images" id="main_image">
		<img id="main_image" src="<%= @country.images.first.large_url %>">
	</div>

	<div class="country_images">
		<% @country.images.each do |image| %>
			<img class="thumbnail" src='<%= image.thumbnail_url %>'>
		<% end %>
	</div>
<% end %>
</div>

<div class="fact_cards">
	<div class="fact" id="language">
		<h4>Language:</h4>
		<%= @country.language %>
	</div>
	<div class="fact" id="currency">
		<h4>Currency:</h4>
		<%= @country.currency %>
	</div>
	<div class="fact" id="political">
		<%= @country.political_stability %>
	</div>
	<div class="fact" id="warning"></div>
	<div class="fact" id="political"></div>
	<div class="fact" id="warning"></div>
	<div class="fact" id="political"></div>
	<div class="fact" id="warning"></div>
</div>
